     form {
         margin: 5 auto;
         padding: 1em;
         border: 1px solid #CCC;
         cursor: alias;
         background-color: navajowhite;
         text-align: center;
         width:400px;
         height: auto;

         border-radius: 1em;
         
     }
button {
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
label{
    display:inline-block;
    text-align: right;
    padding: 6px;
    

}
textarea{
    vertical-align: bottom;
    height: 10em;
}

